<ion-header>
  <ion-navbar color="primary">
    <ion-title>Usuarios</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openAlertNewTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label fixed>Nombre: </ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Apellido: </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button large block color="secondary">Guardar Datos</button>
    </ion-item>

    <h2>Listar de Datos</h2>
  </ion-list>

  <ion-list>
    <ion-item *ngIf="tasks.length == 0">
      Empty
    </ion-item>

    <ion-item-sliding #sliding *ngFor="let task of tasks; let i = index">
      <ion-item>
        <ion-label>{{ task.title }} Des: {{ task.description}} </ion-label>
      </ion-item>
      <ion-item-options side="right" icon-left>
        <button ion-button color="danger" (click)="deleteTask(task, i)">
          <ion-icon name="trash"></ion-icon>
          ELIMINAR
        </button>
        <button ion-button color="secondary" (click)="updateTask( task, i )">
          <ion-icon name="create"></ion-icon>
          EDITAR
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item>
        <button ion-button large block>Listar Datos</button>
      </ion-item>


  </ion-list>

</ion-content>